<!DOCTYPE html>
<html>
    <head>
        <title>Diabetes Prediction</title>
    </head>
    <body>
        <h2>Diabetes Prediction</h2>
        <form method="post">
            <input name="Pregnancies" placeholder="Pregnancies"><br>
            <input name="Glucose" placeholder="Glucose"><br>
            <input name="BloodPressure" placeholder="Blood Pressure"><br>
            <input name="SkinThickness" placeholder="SkinThickness"><br>
            <input name="Insulin" placeholder="Insulin"><br>
            <input name="BMI" placeholder="BMI"><br>
            <input name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction"><br>
            <input name="Age" placeholder="Age"><br><br>
            <button type="submit">Predict</button>
        </form>
        {%if prediction is not none%}
            <h3>Prediction Result : {{prediction}}</h3>
        {%endif%}
    </body>
</html>